interactions:
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v2/voices?sort=name&sort_direction=desc
  response:
    body:
      string: '{"voices":[{"voice_id":"bIHbv24MWmeRgasZH58o","name":"Will - Relaxed
        Optimist","samples":null,"category":"premade","fine_tuning":{"is_allowed_to_fine_tune":true,"state":{"eleven_turbo_v2_5":"fine_tuned","eleven_flash_v2":"fine_tuned","eleven_multilingual_v2":"fine_tuned","eleven_v2_5_flash":"fine_tuned","eleven_v2_flash":"fine_tuned","eleven_turbo_v2":"fine_tuned","eleven_flash_v2_5":"fine_tuned"},"verification_failures":[],"verification_attempts_count":0,"manual_verification_requested":false,"language":"en","progress":{"eleven_v2_5_flash":1.0,"eleven_flash_v2":1.0,"eleven_v2_flash":1.0,"eleven_flash_v2_5":1.0},"message":{"eleven_v2_5_flash":"Done!","eleven_flash_v2":"Done!","eleven_v2_flash":"Done!","eleven_flash_v2_5":"Done!"},"dataset_duration_seconds":null,"verification_attempts":null,"slice_ids":null,"manual_verification":null,"max_verification_attempts":5,"next_max_verification_attempts_reset_unix_ms":1700000000000},"labels":{"use_case":"conversational","gender":"male","accent":"american","age":"young","language":"en","descriptive":"chill"},"description":"Conversational
        and laid back.","preview_url":"https://storage.googleapis.com/eleven-public-prod/premade/voices/bIHbv24MWmeRgasZH58o/8caf8f3d-ad29-4980-af41-53f20c72d7a4.mp3","available_for_tiers":[],"settings":null,"sharing":null,"high_quality_base_model_ids":["eleven_v2_flash","eleven_flash_v2","eleven_turbo_v2_5","eleven_multilingual_v2","eleven_v2_5_flash","eleven_flash_v2_5","eleven_turbo_v2"],"verified_languages":[{"language":"en","model_id":"eleven_v2_flash","accent":"american","locale":"en-US","preview_url":"https://storage.googleapis.com/eleven-public-prod/premade/voices/bIHbv24MWmeRgasZH58o/8caf8f3d-ad29-4980-af41-53f20c72d7a4.mp3"},{"language":"en","model_id":"eleven_flash_v2","accent":"american","locale":"en-US","preview_url":"https://storage.googleapis.com/eleven-public-prod/premade/voices/bIHbv24MWmeRgasZH58o/8caf8f3d-ad29-4980-af41-53f20c72d7a4.mp3"},{"language":"en","model_id":"eleven_turbo_v2_5","accent":"american","locale":"en-US","preview_url":"https://storage.googl[...]
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v1/voices/bIHbv24MWmeRgasZH58o
  response:
    body:
      string: '{"voice_id":"bIHbv24MWmeRgasZH58o","name":"Will - Relaxed Optimist","samples":null,"category":"premade","fine_tuning":{"is_allowed_to_fine_tune":true,"state":{"eleven_turbo_v2_5":"fine_tuned","eleven_flash_v2":"fine_tuned",[...]
