interactions:
- request:
    body: '{"tool_config":{"type":"client","name":"integration-client-remove-tool","description":"Integration
      remove client tool","expects_response":false}}'
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/convai/tools
  response:
    body:
      string: '{"id":"tool_0001test_tool","tool_config":{"type":"client","name":"integration-client-remove-tool","description":"Integration
        remove client tool","response_timeout_secs":20,"disable_interruptions":false,"force_pre_tool_speech":false,"pre_tool_speech":"auto","assignments":[],"tool_call_sound":null,"tool_call_sound_behavior":"auto","tool_error_handling_mode":"auto","parameters":null,"expects_response":false,"dynamic_variables":{"dynamic_variable_placeholders":{}},"execution_mode":"immediate"},"access_info":{"is_creator":true,"creator_name":"Test
        User","creator_email":"test@example.com","role":"admin","anonymous_access_level_override":null},"usage_stats":{"total_calls":0,"avg_latency_secs":0.0},"response_mocks":null}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/agents/agent_4501khdqt1t5epnajsmvpnzcyxg4
  response:
    body:
      string: '{"agent_id":"agent_4501khdqt1t5epnajsmvpnzcyxg4","name":"Agents v3
        Demo","conversation_config":{"asr":{"quality":"high","provider":"scribe_realtime","user_input_audio_format":"pcm_16000","keywords":[]},"turn":{"turn_timeout":7.0,"initial_wait_time":null,"silence_end_call_timeout":-1.0,"soft_timeout_config":{"timeout_seconds":-1.0,"message":"Hhmmmm...yeah.","use_llm_generated_message":false},"mode":"turn","turn_eagerness":"normal","spelling_patience":"auto","speculative_turn":true,"retranscribe_on_turn_timeout":false,"turn_model":"turn_v2","interruption_ignore_terms":[]},"tts":{"model_id":"eleven_v3_conversational","voice_id":"TX3LPaxmHKxFdv7VOQHJ","supported_voices":[],"expressive_mode":true,"suggested_audio_tags":[],"agent_output_audio_format":"pcm_16000","optimize_streaming_latency":3,"stability":0.5,"speed":1.0,"similarity_boost":0.8,"text_normalisation_type":"system_prompt","pronunciation_dictionary_locators":[]},"conversation":{"text_only":false,"max_duration_seconds":600,"client_events":["audio","interruption","agent_response","user_transcript","agent_response_correction","agent_tool_response"],"file_input":{"enabled":true,"max_files_per_conversation":10},"monitoring_enabled":false,"monitoring_events":["user_transcript","agent_response","agent_response_correction"],"dtmf_input_settings":null,"background_music":{"source_type":null,"source_id":null,"volume":0.6,"crossfade_loop":false},"source_attribution":false},"language_presets":{"zh":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u70ed\u60c5\u5730]
        \u4f60\u597d\uff0c\u611f\u8c22\u81f4\u7535\u5341\u4e00\u822a\u7a7a\u516c\u53f8\u3002\u6211\u53ebLiam\uff0c\u5443\u2026\u2026\u6211\u4eca\u5929\u5728\u8fd9\u91cc\u4e3a\u60a8\u63d0\u4f9b\u5e2e\u52a9\u3002\u6211\u80fd\u4e3a\u60a8\u505a\u4e9b\u4ec0\u4e48\uff1f","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"es":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[c\u00e1lidamente]
        hola, gracias por llamar a Eleven Airlines. me llamo Liam, y eh.. estoy aqu\u00ed
        para ayudarte hoy. \u00bfen qu\u00e9 puedo ayudarte?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"hi":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u0917\u0930\u092e\u091c\u094b\u0936\u0940
        \u0938\u0947] \u0939\u0947, \u0907\u0932\u0947\u0935\u0928 \u090f\u092f\u0930\u0932\u093e\u0907\u0902\u0938
        \u0915\u094b \u0915\u0949\u0932 \u0915\u0930\u0928\u0947 \u0915\u0947 \u0932\u093f\u090f
        \u0927\u0928\u094d\u092f\u0935\u093e\u0926\u0964 \u092e\u0947\u0930\u093e
        \u0928\u093e\u092e \u0932\u093f\u092f\u093e\u092e \u0939\u0948, \u0914\u0930
        \u0909\u0939.. \u092e\u0948\u0902 \u0906\u091c \u0906\u092a\u0915\u0940 \u092e\u0926\u0926
        \u0915\u0930\u0928\u0947 \u0915\u0947 \u0932\u093f\u090f \u092f\u0939\u093e\u0901
        \u0939\u0942\u0901\u0964 \u092e\u0948\u0902 \u0906\u092a\u0915\u0947 \u0932\u093f\u090f
        \u0915\u094d\u092f\u093e \u0915\u0930 \u0938\u0915\u0924\u093e \u0939\u0942\u0901?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"pt":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[calorosamente]
        ol\u00e1, obrigado por ligar para a Eleven Airlines. meu nome \u00e9 Liam,
        e uh.. estou aqui para ajud\u00e1-lo hoje. o que posso fazer por voc\u00ea?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"fr":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[chaleureusement]
        salut, merci d''avoir appel\u00e9 Eleven Airlines. je m''appelle Liam, et
        euh.. je suis l\u00e0 pour vous aider aujourd''hui. que puis-je faire pour
        vous ?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"de":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[warmly]
        Hey, danke, dass Sie Eleven Airlines angerufen haben. Mein Name ist Liam,
        und \u00e4h... ich bin hier, um Ihnen heute zu helfen. Was kann ich f\u00fcr
        Sie tun?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"ja":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u6696\u304b\u304f]
        \u3053\u3093\u306b\u3061\u306f\u3001\u30a8\u30ec\u30d6\u30f3\u822a\u7a7a\u306b\u304a\u96fb\u8a71\u3044\u305f\u3060\u304d\u3042\u308a\u304c\u3068\u3046\u3054\u3056\u3044\u307e\u3059\u3002\u79c1\u306e\u540d\u524d\u306f\u30ea\u30a2\u30e0\u3067\u3059\u3002\u4eca\u65e5\u306f\u3069\u306e\u3088\u3046\u306b\u304a\u624b\u4f1d\u3044\u3067\u304d\u307e\u3059\u304b\uff1f","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"ar":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u0628\u062d\u0631\u0627\u0631\u0629]
        \u0645\u0631\u062d\u0628\u064b\u0627\u060c \u0634\u0643\u0631\u064b\u0627
        \u0644\u0627\u062a\u0635\u0627\u0644\u0643 \u0628\u0634\u0631\u0643\u0629
        \u0637\u064a\u0631\u0627\u0646 \u0625\u0644\u064a\u0641\u0646. \u0627\u0633\u0645\u064a
        \u0644\u064a\u0627\u0645\u060c \u0648\u0623\u0646\u0627 \u0647\u0646\u0627
        \u0644\u0645\u0633\u0627\u0639\u062f\u062a\u0643 \u0627\u0644\u064a\u0648\u0645.
        \u0643\u064a\u0641 \u064a\u0645\u0643\u0646\u0646\u064a \u0645\u0633\u0627\u0639\u062f\u062a\u0643\u061f","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"ko":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[warmly]
        \uc548\ub155\ud558\uc138\uc694, Eleven Airlines\uc5d0 \uc804\ud654\ud574 \uc8fc\uc154\uc11c
        \uac10\uc0ac\ud569\ub2c8\ub2e4. \uc81c \uc774\ub984\uc740 Liam\uc774\uace0,
        \uc624\ub298 \ub3c4\uc640\ub4dc\ub9ac\uae30 \uc704\ud574 \uc5ec\uae30 \uc788\uc2b5\ub2c8\ub2e4.
        \ubb34\uc5c7\uc744 \ub3c4\uc640\ub4dc\ub9b4\uae4c\uc694?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"id":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[hangat]
        hai, terima kasih telah menelepon Eleven Airlines. nama saya Liam, dan uh..
        saya di sini untuk membantu Anda hari ini. apa yang bisa saya lakukan untuk
        Anda?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"it":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[warmly]
        ciao, grazie per aver chiamato Eleven Airlines. mi chiamo Liam, e uh.. sono
        qui per aiutarti oggi. cosa posso fare per te?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"nl":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[warmly]
        hey, bedankt dat je Eleven Airlines belt. mijn naam is Liam, en uh.. ik ben
        hier om je vandaag te helpen. wat kan ik voor je doen?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"tr":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[samimi
        bir \u015fekilde] merhaba, Eleven Airlines''\u0131 arad\u0131\u011f\u0131n\u0131z
        i\u00e7in te\u015fekk\u00fcrler. benim ad\u0131m Liam ve bug\u00fcn size yard\u0131mc\u0131
        olmak i\u00e7in buraday\u0131m. sizin i\u00e7in ne yapabilirim?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"pl":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[ciep\u0142o]
        hej, dzi\u0119kuj\u0119 za telefon do Eleven Airlines. nazywam si\u0119 Liam
        i jestem tutaj, aby Ci pom\u00f3c. co mog\u0119 dla Ciebie zrobi\u0107?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"ru":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u0442\u0435\u043f\u043b\u043e]
        \u043f\u0440\u0438\u0432\u0435\u0442, \u0441\u043f\u0430\u0441\u0438\u0431\u043e,
        \u0447\u0442\u043e \u043f\u043e\u0437\u0432\u043e\u043d\u0438\u043b\u0438
        \u0432 Eleven Airlines. \u043c\u0435\u043d\u044f \u0437\u043e\u0432\u0443\u0442
        \u041b\u0438\u0430\u043c, \u0438 \u044f \u0437\u0434\u0435\u0441\u044c, \u0447\u0442\u043e\u0431\u044b
        \u043f\u043e\u043c\u043e\u0447\u044c \u0432\u0430\u043c \u0441\u0435\u0433\u043e\u0434\u043d\u044f.
        \u0447\u0435\u043c \u044f \u043c\u043e\u0433\u0443 \u0432\u0430\u043c \u043f\u043e\u043c\u043e\u0447\u044c?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"sv":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[varmt]
        hej, tack f\u00f6r att du ringde Eleven Airlines. jag heter Liam, och eh..
        jag \u00e4r h\u00e4r f\u00f6r att hj\u00e4lpa dig idag. vad kan jag g\u00f6ra
        f\u00f6r dig?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"fil":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[warmly]
        hey, salamat sa pagtawag sa Eleven Airlines. ang pangalan ko ay Liam, at uh..
        nandito ako para tulungan ka ngayon. ano ang maitutulong ko sa''yo?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"ms":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[mesra]
        hai, terima kasih kerana menghubungi Eleven Airlines. nama saya Liam, dan
        uh.. saya di sini untuk membantu anda hari ini. apa yang boleh saya lakukan
        untuk anda?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"ro":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[warmly]
        salut, mul\u021bumesc c\u0103 ai sunat la Eleven Airlines. m\u0103 numesc
        Liam \u0219i, uh.. sunt aici s\u0103 te ajut ast\u0103zi. cu ce te pot ajuta?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"uk":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u0442\u0435\u043f\u043b\u043e]
        \u043f\u0440\u0438\u0432\u0456\u0442, \u0434\u044f\u043a\u0443\u044e, \u0449\u043e
        \u0437\u0430\u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0443\u0432\u0430\u043b\u0438
        \u0434\u043e Eleven Airlines. \u043c\u0435\u043d\u0435 \u0437\u0432\u0430\u0442\u0438
        \u041b\u0456\u0430\u043c, \u0456 \u044f \u0442\u0443\u0442, \u0449\u043e\u0431
        \u0434\u043e\u043f\u043e\u043c\u043e\u0433\u0442\u0438 \u0432\u0430\u043c
        \u0441\u044c\u043e\u0433\u043e\u0434\u043d\u0456. \u0447\u0438\u043c \u044f
        \u043c\u043e\u0436\u0443 \u0432\u0430\u043c \u0434\u043e\u043f\u043e\u043c\u043e\u0433\u0442\u0438?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"el":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u03b6\u03b5\u03c3\u03c4\u03ac]
        \u03b3\u03b5\u03b9\u03b1, \u03b5\u03c5\u03c7\u03b1\u03c1\u03b9\u03c3\u03c4\u03ce
        \u03c0\u03bf\u03c5 \u03ba\u03b1\u03bb\u03ad\u03c3\u03b1\u03c4\u03b5 \u03c4\u03b7\u03bd
        Eleven Airlines. \u03bc\u03b5 \u03bb\u03ad\u03bd\u03b5 Liam, \u03ba\u03b1\u03b9
        \u03b5\u03af\u03bc\u03b1\u03b9 \u03b5\u03b4\u03ce \u03b3\u03b9\u03b1 \u03bd\u03b1
        \u03c3\u03b1\u03c2 \u03b2\u03bf\u03b7\u03b8\u03ae\u03c3\u03c9 \u03c3\u03ae\u03bc\u03b5\u03c1\u03b1.
        \u03c4\u03b9 \u03bc\u03c0\u03bf\u03c1\u03ce \u03bd\u03b1 \u03ba\u03ac\u03bd\u03c9
        \u03b3\u03b9\u03b1 \u03b5\u03c3\u03ac\u03c2;","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"cs":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[warmly]
        ahoj, d\u00edky, \u017ee jste zavolali Eleven Airlines. jmenuji se Liam a
        jsem tu, abych v\u00e1m dnes pomohl. co pro v\u00e1s mohu ud\u011blat?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"da":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[varmt]
        hej, tak fordi du ringer til Eleven Airlines. mit navn er Liam, og \u00f8h..
        jeg er her for at hj\u00e6lpe dig i dag. hvad kan jeg g\u00f8re for dig?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"fi":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[l\u00e4mpim\u00e4sti]
        hei, kiitos kun soitit Eleven Airlinesille. nimeni on Liam, ja \u00f6\u00f6..
        olen t\u00e4\u00e4ll\u00e4 auttamassa sinua t\u00e4n\u00e4\u00e4n. mit\u00e4
        voin tehd\u00e4 hyv\u00e4ksesi?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"bg":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u0442\u043e\u043f\u043b\u043e]
        \u0437\u0434\u0440\u0430\u0432\u0435\u0439\u0442\u0435, \u0431\u043b\u0430\u0433\u043e\u0434\u0430\u0440\u044f,
        \u0447\u0435 \u0441\u0435 \u043e\u0431\u0430\u0434\u0438\u0445\u0442\u0435
        \u043d\u0430 Eleven Airlines. \u043a\u0430\u0437\u0432\u0430\u043c \u0441\u0435
        \u041b\u0438\u0430\u043c \u0438 \u0441\u044a\u043c \u0442\u0443\u043a, \u0437\u0430
        \u0434\u0430 \u0432\u0438 \u043f\u043e\u043c\u043e\u0433\u043d\u0430 \u0434\u043d\u0435\u0441.
        \u0441 \u043a\u0430\u043a\u0432\u043e \u043c\u043e\u0433\u0430 \u0434\u0430
        \u0432\u0438 \u0431\u044a\u0434\u0430 \u043f\u043e\u043b\u0435\u0437\u0435\u043d?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"hr":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[bri\u017eno]
        hej, hvala \u0161to ste nazvali Eleven Airlines. moje ime je Liam, i uh..
        ovdje sam da vam danas pomognem. \u0161to mogu u\u010diniti za vas?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"sk":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[vrelo]
        ahoj, \u010fakujeme, \u017ee ste zavolali do Eleven Airlines. vol\u00e1m sa
        Liam a som tu, aby som v\u00e1m dnes pomohol. \u010do pre v\u00e1s m\u00f4\u017eem
        urobi\u0165?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"ta":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u0bb5\u0bc6\u0baa\u0bcd\u0baa\u0bae\u0bbe\u0b95]
        \u0bb9\u0bc7, \u0b8e\u0bb2\u0bc6\u0bb5\u0ba9\u0bcd \u0b8f\u0bb0\u0bcd\u0bb2\u0bc8\u0ba9\u0bcd\u0bb8\u0bc1\u0b95\u0bcd\u0b95\u0bc1
        \u0b85\u0bb4\u0bc8\u0ba4\u0bcd\u0ba4\u0ba4\u0bb1\u0bcd\u0b95\u0bc1 \u0ba8\u0ba9\u0bcd\u0bb1\u0bbf.
        \u0b8e\u0ba9\u0bcd \u0baa\u0bc6\u0baf\u0bb0\u0bcd \u0bb2\u0bbf\u0baf\u0bae\u0bcd,
        \u0bae\u0bb1\u0bcd\u0bb1\u0bc1\u0bae\u0bcd \u0b89\u0bb9\u0bcd.. \u0b87\u0ba9\u0bcd\u0bb1\u0bc1
        \u0b89\u0b99\u0bcd\u0b95\u0bb3\u0bc1\u0b95\u0bcd\u0b95\u0bc1 \u0b89\u0ba4\u0bb5
        \u0ba8\u0bbe\u0ba9\u0bcd \u0b87\u0b99\u0bcd\u0b95\u0bc7 \u0b87\u0bb0\u0bc1\u0b95\u0bcd\u0b95\u0bbf\u0bb1\u0bc7\u0ba9\u0bcd.
        \u0ba8\u0bbe\u0ba9\u0bcd \u0b89\u0b99\u0bcd\u0b95\u0bb3\u0bc1\u0b95\u0bcd\u0b95\u0bc1
        \u0b8e\u0ba9\u0bcd\u0ba9 \u0b9a\u0bc6\u0baf\u0bcd\u0baf\u0bb2\u0bbe\u0bae\u0bcd?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"vi":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[warmly]
        ch\u00e0o, c\u1ea3m \u01a1n b\u1ea1n \u0111\u00e3 g\u1ecdi \u0111\u1ebfn Eleven
        Airlines. t\u00ean t\u00f4i l\u00e0 Liam, v\u00e0 \u1eeb.. t\u00f4i \u1edf
        \u0111\u00e2y \u0111\u1ec3 gi\u00fap b\u1ea1n h\u00f4m nay. t\u00f4i c\u00f3
        th\u1ec3 l\u00e0m g\u00ec cho b\u1ea1n?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"no":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[varmt]
        hei, takk for at du ringte Eleven Airlines. jeg heter Liam, og eh.. jeg er
        her for \u00e5 hjelpe deg i dag. hva kan jeg gj\u00f8re for deg?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"hu":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[szeretettel]
        szia, k\u00f6sz\u00f6n\u00f6m, hogy az Eleven Airlines-t h\u00edvta. a nevem
        Liam, \u00e9s uh.. az\u00e9rt vagyok itt, hogy seg\u00edtsek \u00f6nnek ma.
        miben seg\u00edthetek?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"af":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[warmly]
        hey, dankie dat jy Eleven Airlines gebel het. my naam is Liam, en uh.. ek
        is hier om jou vandag te help. wat kan ek vir jou doen?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"hy":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u057b\u0565\u0580\u0574\u0578\u0580\u0565\u0576]
        \u0562\u0561\u0580\u0587, \u0577\u0576\u0578\u0580\u0570\u0561\u056f\u0561\u056c\u0578\u0582\u0569\u0575\u0578\u0582\u0576
        Eleven Airlines \u0566\u0561\u0576\u0563\u0561\u0570\u0561\u0580\u0565\u056c\u0578\u0582
        \u0570\u0561\u0574\u0561\u0580: \u053b\u0574 \u0561\u0576\u0578\u0582\u0576\u0568
        \u053c\u056b\u0561\u0574 \u0567, \u0587 \u0565\u057d \u0561\u0575\u057d\u057f\u0565\u0572
        \u0565\u0574, \u0578\u0580\u057a\u0565\u057d\u0566\u056b \u0585\u0563\u0576\u0565\u0576\u0584
        \u0571\u0565\u0566 \u0561\u0575\u057d\u0585\u0580: \u053b\u0576\u0579\u0578\u057e
        \u056f\u0561\u0580\u0578\u0572 \u0565\u0574 \u0585\u0563\u0576\u0565\u056c
        \u0571\u0565\u0566?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"as":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u0989\u09b7\u09cd\u09a3\u09ad\u09be\u09f1\u09c7]
        \u09b9\u09c7, \u0987\u09b2\u09c7\u09ad\u09c7\u09a8 \u098f\u09af\u09bc\u09be\u09f0\u09b2\u09be\u0987\u09a8\u09cd\u09b8\u09b2\u09c8
        \u09ab\u09cb\u09a8 \u0995\u09f0\u09be\u09f0 \u09ac\u09be\u09ac\u09c7 \u09a7\u09a8\u09cd\u09af\u09ac\u09be\u09a6\u0964
        \u09ae\u09cb\u09f0 \u09a8\u09be\u09ae \u09b2\u09bf\u09af\u09bc\u09be\u09ae,
        \u0986\u09f0\u09c1 \u0986.. \u09ae\u0987 \u0986\u099c\u09bf \u0986\u09aa\u09cb\u09a8\u09be\u0995
        \u09b8\u09b9\u09be\u09af\u09bc \u0995\u09f0\u09bf\u09ac\u09b2\u09c8 \u0987\u09af\u09bc\u09be\u09a4
        \u0986\u099b\u09cb\u0981\u0964 \u09ae\u0987 \u0986\u09aa\u09cb\u09a8\u09be\u09f0
        \u09ac\u09be\u09ac\u09c7 \u0995\u09bf \u0995\u09f0\u09bf\u09ac \u09aa\u09be\u09f0\u09cb\u0981?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"az":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[s\u0259mimi]
        salam, Eleven Airlines-\u0259 z\u0259ng etdiyiniz \u00fc\u00e7\u00fcn t\u0259\u015f\u0259kk\u00fcr
        edir\u0259m. m\u0259nim ad\u0131m Liam-d\u0131r v\u0259 bu g\u00fcn siz\u0259
        k\u00f6m\u0259k etm\u0259k \u00fc\u00e7\u00fcn buradayam. sizin \u00fc\u00e7\u00fcn
        n\u0259 ed\u0259 bil\u0259r\u0259m?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"be":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u0446\u0451\u043f\u043b\u0430]
        \u043f\u0440\u044b\u0432\u0456\u0442\u0430\u043d\u043d\u0435, \u0434\u0437\u044f\u043a\u0443\u0439,
        \u0448\u0442\u043e \u043f\u0430\u0442\u044d\u043b\u0435\u0444\u0430\u043d\u0430\u0432\u0430\u043b\u0456
        \u045e Eleven Airlines. \u043c\u044f\u043d\u0435 \u0437\u0430\u0432\u0443\u0446\u044c
        \u041b\u0456\u0430\u043c, \u0456, \u044d\u044d\u044d.. \u044f \u0442\u0443\u0442,
        \u043a\u0430\u0431 \u0434\u0430\u043f\u0430\u043c\u0430\u0433\u0447\u044b
        \u0432\u0430\u043c \u0441\u0451\u043d\u043d\u044f. \u0447\u044b\u043c \u044f
        \u043c\u0430\u0433\u0443 \u0432\u0430\u043c \u0434\u0430\u043f\u0430\u043c\u0430\u0433\u0447\u044b?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"bn":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u0989\u09b7\u09cd\u09a3\u09ad\u09be\u09ac\u09c7]
        \u09b9\u09c7\u0987, \u0987\u09b2\u09c7\u09ad\u09c7\u09a8 \u098f\u09af\u09bc\u09be\u09b0\u09b2\u09be\u0987\u09a8\u09cd\u09b8\u09c7
        \u0995\u09b2 \u0995\u09b0\u09be\u09b0 \u099c\u09a8\u09cd\u09af \u09a7\u09a8\u09cd\u09af\u09ac\u09be\u09a6\u0964
        \u0986\u09ae\u09be\u09b0 \u09a8\u09be\u09ae \u09b2\u09bf\u09af\u09bc\u09be\u09ae,
        \u098f\u09ac\u0982 \u0989\u09b9.. \u0986\u09ae\u09bf \u0986\u099c \u0986\u09aa\u09a8\u09be\u0995\u09c7
        \u09b8\u09be\u09b9\u09be\u09af\u09cd\u09af \u0995\u09b0\u09a4\u09c7 \u098f\u0996\u09be\u09a8\u09c7
        \u0986\u099b\u09bf\u0964 \u0986\u09ae\u09bf \u0986\u09aa\u09a8\u09be\u09b0
        \u099c\u09a8\u09cd\u09af \u0995\u09c0 \u0995\u09b0\u09a4\u09c7 \u09aa\u09be\u09b0\u09bf?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"bs":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[warmly]
        hej, hvala \u0161to ste nazvali Eleven Airlines. moje ime je Liam, i uh..
        ovdje sam da vam pomognem danas. \u0161ta mogu u\u010diniti za vas?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"ca":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[calorosament]
        ei, gr\u00e0cies per trucar a Eleven Airlines. em dic Liam, i uh.. s\u00f3c
        aqu\u00ed per ajudar-te avui. qu\u00e8 puc fer per tu?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"et":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[soojalt]
        hei, ait\u00e4h, et helistasite Eleven Airlines''ile. minu nimi on Liam ja
        ma olen siin, et teid t\u00e4na aidata. kuidas ma saan teid aidata?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"gl":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[calidamente]
        ola, grazas por chamar a Eleven Airlines. ch\u00e1mome Liam, e uh.. estou
        aqu\u00ed para axudarche hoxe. que podo facer por ti?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"ka":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u10d7\u10d1\u10d8\u10da\u10d0\u10d3]
        \u10d2\u10d0\u10db\u10d0\u10e0\u10ef\u10dd\u10d1\u10d0, \u10db\u10d0\u10d3\u10da\u10dd\u10d1\u10d0,
        \u10e0\u10dd\u10db \u10d3\u10d0\u10e0\u10d4\u10d9\u10d4\u10d7 Eleven Airlines-\u10e8\u10d8.
        \u10e9\u10d4\u10db\u10d8 \u10e1\u10d0\u10ee\u10d4\u10da\u10d8\u10d0 \u10da\u10d8\u10d0\u10db\u10d8
        \u10d3\u10d0, \u10d4\u10db... \u10d3\u10e6\u10d4\u10e1 \u10d0\u10e5 \u10d5\u10d0\u10e0,
        \u10e0\u10dd\u10db \u10d3\u10d0\u10d2\u10d4\u10ee\u10db\u10d0\u10e0\u10dd\u10d7.
        \u10e0\u10d8\u10d7 \u10e8\u10d4\u10db\u10d8\u10eb\u10da\u10d8\u10d0 \u10d3\u10d0\u10d2\u10d4\u10ee\u10db\u10d0\u10e0\u10dd\u10d7?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"gu":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u0a89\u0ab7\u0acd\u0aae\u0abe\u0aaa\u0ac2\u0ab0\u0acd\u0ab5\u0a95]
        \u0ab9\u0ac7, \u0a87\u0ab2\u0ac7\u0ab5\u0aa8 \u0a8f\u0ab0\u0ab2\u0abe\u0a87\u0aa8\u0acd\u0ab8\u0aae\u0abe\u0a82
        \u0a95\u0ac9\u0ab2 \u0a95\u0ab0\u0ab5\u0abe \u0aac\u0aa6\u0ab2 \u0a86\u0aad\u0abe\u0ab0.
        \u0aae\u0abe\u0ab0\u0ac1\u0a82 \u0aa8\u0abe\u0aae \u0ab2\u0abf\u0aaf\u0aae
        \u0a9b\u0ac7, \u0a85\u0aa8\u0ac7 \u0ab9\u0ac1\u0a82 \u0a86\u0a9c\u0ac7 \u0aa4\u0aae\u0aa8\u0ac7
        \u0aae\u0aa6\u0aa6 \u0a95\u0ab0\u0ab5\u0abe \u0aae\u0abe\u0a9f\u0ac7 \u0a85\u0ab9\u0ac0\u0a82
        \u0a9b\u0ac1\u0a82. \u0ab9\u0ac1\u0a82 \u0aa4\u0aae\u0abe\u0ab0\u0abe \u0aae\u0abe\u0a9f\u0ac7
        \u0ab6\u0ac1\u0a82 \u0a95\u0ab0\u0ac0 \u0ab6\u0a95\u0ac1\u0a82?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"ha":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[sosai]
        sannu, na gode da kiran Eleven Airlines. sunana Liam, kuma uh.. ina nan don
        taimaka maka a yau. me zan iya yi maka?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"he":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[\u05d1\u05d7\u05d5\u05dd]
        \u05d4\u05d9\u05d9, \u05ea\u05d5\u05d3\u05d4 \u05e9\u05d4\u05ea\u05e7\u05e9\u05e8\u05ea
        \u05dc-Eleven Airlines. \u05e9\u05de\u05d9 \u05dc\u05d9\u05d0\u05dd, \u05d5\u05d0\u05e0\u05d9
        \u05db\u05d0\u05df \u05db\u05d3\u05d9 \u05dc\u05e2\u05d6\u05d5\u05e8 \u05dc\u05da
        \u05d4\u05d9\u05d5\u05dd. \u05de\u05d4 \u05d0\u05e0\u05d9 \u05d9\u05db\u05d5\u05dc
        \u05dc\u05e2\u05e9\u05d5\u05ea \u05d1\u05e9\u05d1\u05d9\u05dc\u05da?","language":null,"max_conversation_duration_message":null,"prompt":null}},"first_message_translation":null,"soft_timeout_translation":null},"is":{"overrides":{"turn":null,"tts":null,"conversation":null,"agent":{"first_message":"[hl\u00fdlega]
        h\u00e6, takk fyrir a\u00f0 hringja \u00ed Eleven Airlines. \u00e9g heiti
[...]
