interactions:
- request:
    body: '{"tool_config":{"type":"client","name":"integration-client-delete-tool","description":"Integration
      delete client tool","expects_response":false}}'
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/convai/tools
  response:
    body:
      string: '{"id":"tool_6701kqvhvgq7fnnvvm3thrvcgthv","tool_config":{"type":"client","name":"integration-client-delete-tool","description":"Integration
        delete client tool","response_timeout_secs":20,"disable_interruptions":false,"force_pre_tool_speech":false,"pre_tool_speech":"auto","assignments":[],"tool_call_sound":null,"tool_call_sound_behavior":"auto","tool_error_handling_mode":"auto","parameters":null,"expects_response":false,"dynamic_variables":{"dynamic_variable_placeholders":{}},"execution_mode":"immediate"},"access_info":{"is_creator":true,"creator_name":"harishnavnit@gmail.com","creator_email":"harishnavnit@gmail.com","role":"admin","anonymous_access_level_override":null},"usage_stats":{"total_calls":0,"avg_latency_secs":0.0},"response_mocks":null}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - 2ea433358863c3524ba35804abd2c546
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/tools/tool_6701kqvhvgq7fnnvvm3thrvcgthv/dependent-agents
  response:
    body:
      string: '{"agents":[],"branches":[],"next_cursor":null,"has_more":false}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - 7c2285d526bd9a0d092f3647b75bff21
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: DELETE
    uri: https://api.elevenlabs.io/v1/convai/tools/tool_6701kqvhvgq7fnnvvm3thrvcgthv
  response:
    body:
      string: ''
    headers:
      x-region:
      - us-central1
      x-trace-id:
      - 8015b89855ec01f4f8b708ec35af00f0
    status:
      code: 204
      message: No Content
version: 1
