interactions:
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/conversations?page_size=3
  response:
    body:
      string: '{"conversations":[{"agent_id":"agent_01jyvgf13se90b0472dj2hn96a","branch_id":null,"version_id":null,"agent_name":"F-MoCA","conversation_id":"conv_1101kqpqj6dcf9za16n0c1myt2xr","start_time_unix_secs":1777805629,"call_duration_secs":47,"message_count":13,"status":"done","termination_reason":"end_call
        tool was called.","call_successful":"success","transcript_summary":null,"call_summary_title":"Fall
        History Inquiry","main_language":"en","conversation_initiation_source":"react_sdk","tool_names":["end_call"],"direction":null,"rating":null},{"agent_id":"agent_01jyvgf13se90b0472dj2hn96a","branch_id":null,"version_id":null,"agent_name":"F-MoCA","conversation_id":"conv_6001kqpp2gr5f489ep8xggzvg5gz","start_time_unix_secs":1777804067,"call_duration_secs":29,"message_count":9,"status":"done","termination_reason":"end_call
        tool was called.","call_successful":"success","transcript_summary":null,"call_summary_title":"Fall
        History Inquiry","main_language":"en","conversation_initiation_source":"react_sdk","tool_names":["end_call"],"direction":null,"rating":null},{"agent_id":"agent_01jyvgf13se90b0472dj2hn96a","branch_id":null,"version_id":null,"agent_name":"F-MoCA","conversation_id":"conv_1801kqhwfy0xfhpbdqnqr57ccxx8","start_time_unix_secs":1777643026,"call_duration_secs":83,"message_count":21,"status":"done","termination_reason":"end_call
        tool was called.","call_successful":"success","transcript_summary":null,"call_summary_title":"Fall
        History, Translation","main_language":"en","conversation_initiation_source":"react_sdk","tool_names":["translate_and_display_transcript","end_call"],"direction":null,"rating":null}],"next_cursor":"eyJsYXN0X2NvbnZlcnNhdGlvbl9pZCI6ImNvbnZfMTgwMWtxaHdmeTB4ZmhwYmRxbnFyNTdjY3h4OCIsIm9mZnNldCI6bnVsbCwib3JkZXJfYnkiOiJzdGFydF90aW1lX3VuaXhfc2VjcyIsIm9yZGVyX2RpcmVjdGlvbiI6ImRlc2MifQ==","has_more":true}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    status:
      code: 200
      message: OK
version: 1
