interactions:
- request:
    body: '{"text":"Hello from integration tests.","model_id":"eleven_multilingual_v2","voice_settings":{"stability":0.5,"similarity_boost":0.75,"style":0,"use_speaker_boost":true,"speed":1.0}}'
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/text-to-speech/cgSgspJ2msm6clMCkdW9?output_format=mp3_44100_128
  response:
    body:
      string: "ID3\x04\0\0\0\0\0#TSSE\0\0\0\x0F\0\0\x03Lavf60.16.100\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0Info\0\0\0\x0F\0\0\0I\0\0x\0\x06\n\r\r\x11\x14\x18\x18\e\x1F\"\"&)),0337:>>AEEHLOOSVYY]`ddgkknruuy|\x7F\x7F\0\0\0\0Lavf\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0$\x06@\0\0\0\0\0\0x\u042D!\f\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
