interactions:
- request:
    body: '{"tool_config":{"type":"client","name":"integration-client-delete-tool","description":"Integration
      delete client tool","expects_response":false}}'
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/convai/tools
  response:
    body:
      string: '{"id":"tool_3201kqvhvb0tewtajxzeazrf50qf","tool_config":{"type":"client","name":"integration-client-delete-tool","description":"Integration
        delete client tool","response_timeout_secs":20,"disable_interruptions":false,"force_pre_tool_speech":false,"pre_tool_speech":"auto","assignments":[],"tool_call_sound":null,"tool_call_sound_behavior":"auto","tool_error_handling_mode":"auto","parameters":null,"expects_response":false,"dynamic_variables":{"dynamic_variable_placeholders":{}},"execution_mode":"immediate"},"access_info":{"is_creator":true,"creator_name":"harishnavnit@gmail.com","creator_email":"harishnavnit@gmail.com","role":"admin","anonymous_access_level_override":null},"usage_stats":{"total_calls":0,"avg_latency_secs":0.0},"response_mocks":null}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - c5c53a40437903233c991c5ac2c74ce9
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/agents/agent_4501khdqt1t5epnajsmvpnzcyxg4
  response:
    body:
      string: "{\"agent_id\":\"agent_4501khdqt1t5epnajsmvpnzcyxg4\",\"name\":\"Agents
        v3 Demo\",\"conversation_config\":{\"asr\":{\"quality\":\"high\",\"provider\":\"scribe_realtime\",\"user_input_audio_format\":\"pcm_16000\",\"keywords\":[]},\"turn\":{\"turn_timeout\":7.0,\"initial_wait_time\":null,\"silence_end_call_timeout\":-1.0,\"soft_timeout_config\":{\"timeout_seconds\":-1.0,\"message\":\"Hhmmmm...yeah.\",\"use_llm_generated_message\":false},\"mode\":\"turn\",\"turn_eagerness\":\"normal\",\"spelling_patience\":\"auto\",\"speculative_turn\":true,\"retranscribe_on_turn_timeout\":false,\"turn_model\":\"turn_v2\",\"interruption_ignore_terms\":[]},\"tts\":{\"model_id\":\"eleven_v3_conversational\",\"voice_id\":\"TX3LPaxmHKxFdv7VOQHJ\",\"supported_voices\":[],\"expressive_mode\":true,\"suggested_audio_tags\":[],\"agent_output_audio_format\":\"pcm_16000\",\"optimize_streaming_latency\":3,\"stability\":0.5,\"speed\":1.0,\"similarity_boost\":0.8,\"text_normalisation_type\":\"system_prompt\",\"pronunciation_dictionary_locators\":[]},\"conversation\":{\"text_only\":false,\"max_duration_seconds\":600,\"client_events\":[\"audio\",\"interruption\",\"agent_response\",\"user_transcript\",\"agent_response_correction\",\"agent_tool_response\"],\"file_input\":{\"enabled\":true,\"max_files_per_conversation\":10},\"monitoring_enabled\":false,\"monitoring_events\":[\"user_transcript\",\"agent_response\",\"agent_response_correction\"],\"dtmf_input_settings\":null,\"background_music\":{\"source_type\":null,\"source_id\":null,\"volume\":0.6,\"crossfade_loop\":false},\"source_attribution\":false},\"language_presets\":{\"zh\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u70ED\u60C5\u5730]
        \u4F60\u597D\uFF0C\u611F\u8C22\u81F4\u7535\u5341\u4E00\u822A\u7A7A\u516C\u53F8\u3002\u6211\u53EBLiam\uFF0C\u5443\u2026\u2026\u6211\u4ECA\u5929\u5728\u8FD9\u91CC\u4E3A\u60A8\u63D0\u4F9B\u5E2E\u52A9\u3002\u6211\u80FD\u4E3A\u60A8\u505A\u4E9B\u4EC0\u4E48\uFF1F\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"es\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[c\xE1lidamente]
        hola, gracias por llamar a Eleven Airlines. me llamo Liam, y eh.. estoy aqu\xED
        para ayudarte hoy. \xBFen qu\xE9 puedo ayudarte?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"hi\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u0917\u0930\u092E\u091C\u094B\u0936\u0940
        \u0938\u0947] \u0939\u0947, \u0907\u0932\u0947\u0935\u0928 \u090F\u092F\u0930\u0932\u093E\u0907\u0902\u0938
        \u0915\u094B \u0915\u0949\u0932 \u0915\u0930\u0928\u0947 \u0915\u0947 \u0932\u093F\u090F
        \u0927\u0928\u094D\u092F\u0935\u093E\u0926\u0964 \u092E\u0947\u0930\u093E
        \u0928\u093E\u092E \u0932\u093F\u092F\u093E\u092E \u0939\u0948, \u0914\u0930
        \u0909\u0939.. \u092E\u0948\u0902 \u0906\u091C \u0906\u092A\u0915\u0940 \u092E\u0926\u0926
        \u0915\u0930\u0928\u0947 \u0915\u0947 \u0932\u093F\u090F \u092F\u0939\u093E\u0901
        \u0939\u0942\u0901\u0964 \u092E\u0948\u0902 \u0906\u092A\u0915\u0947 \u0932\u093F\u090F
        \u0915\u094D\u092F\u093E \u0915\u0930 \u0938\u0915\u0924\u093E \u0939\u0942\u0901?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"pt\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[calorosamente]
        ol\xE1, obrigado por ligar para a Eleven Airlines. meu nome \xE9 Liam, e uh..
        estou aqui para ajud\xE1-lo hoje. o que posso fazer por voc\xEA?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"fr\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[chaleureusement]
        salut, merci d'avoir appel\xE9 Eleven Airlines. je m'appelle Liam, et euh..
        je suis l\xE0 pour vous aider aujourd'hui. que puis-je faire pour vous ?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"de\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[warmly]
        Hey, danke, dass Sie Eleven Airlines angerufen haben. Mein Name ist Liam,
        und \xE4h... ich bin hier, um Ihnen heute zu helfen. Was kann ich f\xFCr Sie
        tun?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"ja\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u6696\u304B\u304F]
        \u3053\u3093\u306B\u3061\u306F\u3001\u30A8\u30EC\u30D6\u30F3\u822A\u7A7A\u306B\u304A\u96FB\u8A71\u3044\u305F\u3060\u304D\u3042\u308A\u304C\u3068\u3046\u3054\u3056\u3044\u307E\u3059\u3002\u79C1\u306E\u540D\u524D\u306F\u30EA\u30A2\u30E0\u3067\u3059\u3002\u4ECA\u65E5\u306F\u3069\u306E\u3088\u3046\u306B\u304A\u624B\u4F1D\u3044\u3067\u304D\u307E\u3059\u304B\uFF1F\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"ar\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u0628\u062D\u0631\u0627\u0631\u0629]
        \u0645\u0631\u062D\u0628\u064B\u0627\u060C \u0634\u0643\u0631\u064B\u0627
        \u0644\u0627\u062A\u0635\u0627\u0644\u0643 \u0628\u0634\u0631\u0643\u0629
        \u0637\u064A\u0631\u0627\u0646 \u0625\u0644\u064A\u0641\u0646. \u0627\u0633\u0645\u064A
        \u0644\u064A\u0627\u0645\u060C \u0648\u0623\u0646\u0627 \u0647\u0646\u0627
        \u0644\u0645\u0633\u0627\u0639\u062F\u062A\u0643 \u0627\u0644\u064A\u0648\u0645.
        \u0643\u064A\u0641 \u064A\u0645\u0643\u0646\u0646\u064A \u0645\u0633\u0627\u0639\u062F\u062A\u0643\u061F\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"ko\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[warmly]
        \uC548\uB155\uD558\uC138\uC694, Eleven Airlines\uC5D0 \uC804\uD654\uD574 \uC8FC\uC154\uC11C
        \uAC10\uC0AC\uD569\uB2C8\uB2E4. \uC81C \uC774\uB984\uC740 Liam\uC774\uACE0,
        \uC624\uB298 \uB3C4\uC640\uB4DC\uB9AC\uAE30 \uC704\uD574 \uC5EC\uAE30 \uC788\uC2B5\uB2C8\uB2E4.
        \uBB34\uC5C7\uC744 \uB3C4\uC640\uB4DC\uB9B4\uAE4C\uC694?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"id\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[hangat]
        hai, terima kasih telah menelepon Eleven Airlines. nama saya Liam, dan uh..
        saya di sini untuk membantu Anda hari ini. apa yang bisa saya lakukan untuk
        Anda?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"it\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[warmly]
        ciao, grazie per aver chiamato Eleven Airlines. mi chiamo Liam, e uh.. sono
        qui per aiutarti oggi. cosa posso fare per te?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"nl\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[warmly]
        hey, bedankt dat je Eleven Airlines belt. mijn naam is Liam, en uh.. ik ben
        hier om je vandaag te helpen. wat kan ik voor je doen?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"tr\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[samimi
        bir \u015Fekilde] merhaba, Eleven Airlines'\u0131 arad\u0131\u011F\u0131n\u0131z
        i\xE7in te\u015Fekk\xFCrler. benim ad\u0131m Liam ve bug\xFCn size yard\u0131mc\u0131
        olmak i\xE7in buraday\u0131m. sizin i\xE7in ne yapabilirim?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"pl\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[ciep\u0142o]
        hej, dzi\u0119kuj\u0119 za telefon do Eleven Airlines. nazywam si\u0119 Liam
        i jestem tutaj, aby Ci pom\xF3c. co mog\u0119 dla Ciebie zrobi\u0107?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"ru\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u0442\u0435\u043F\u043B\u043E]
        \u043F\u0440\u0438\u0432\u0435\u0442, \u0441\u043F\u0430\u0441\u0438\u0431\u043E,
        \u0447\u0442\u043E \u043F\u043E\u0437\u0432\u043E\u043D\u0438\u043B\u0438
        \u0432 Eleven Airlines. \u043C\u0435\u043D\u044F \u0437\u043E\u0432\u0443\u0442
        \u041B\u0438\u0430\u043C, \u0438 \u044F \u0437\u0434\u0435\u0441\u044C, \u0447\u0442\u043E\u0431\u044B
        \u043F\u043E\u043C\u043E\u0447\u044C \u0432\u0430\u043C \u0441\u0435\u0433\u043E\u0434\u043D\u044F.
        \u0447\u0435\u043C \u044F \u043C\u043E\u0433\u0443 \u0432\u0430\u043C \u043F\u043E\u043C\u043E\u0447\u044C?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"sv\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[varmt]
        hej, tack f\xF6r att du ringde Eleven Airlines. jag heter Liam, och eh.. jag
        \xE4r h\xE4r f\xF6r att hj\xE4lpa dig idag. vad kan jag g\xF6ra f\xF6r dig?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"fil\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[warmly]
        hey, salamat sa pagtawag sa Eleven Airlines. ang pangalan ko ay Liam, at uh..
        nandito ako para tulungan ka ngayon. ano ang maitutulong ko sa'yo?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"ms\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[mesra]
        hai, terima kasih kerana menghubungi Eleven Airlines. nama saya Liam, dan
        uh.. saya di sini untuk membantu anda hari ini. apa yang boleh saya lakukan
        untuk anda?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"ro\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[warmly]
        salut, mul\u021Bumesc c\u0103 ai sunat la Eleven Airlines. m\u0103 numesc
        Liam \u0219i, uh.. sunt aici s\u0103 te ajut ast\u0103zi. cu ce te pot ajuta?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"uk\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u0442\u0435\u043F\u043B\u043E]
        \u043F\u0440\u0438\u0432\u0456\u0442, \u0434\u044F\u043A\u0443\u044E, \u0449\u043E
        \u0437\u0430\u0442\u0435\u043B\u0435\u0444\u043E\u043D\u0443\u0432\u0430\u043B\u0438
        \u0434\u043E Eleven Airlines. \u043C\u0435\u043D\u0435 \u0437\u0432\u0430\u0442\u0438
        \u041B\u0456\u0430\u043C, \u0456 \u044F \u0442\u0443\u0442, \u0449\u043E\u0431
        \u0434\u043E\u043F\u043E\u043C\u043E\u0433\u0442\u0438 \u0432\u0430\u043C
        \u0441\u044C\u043E\u0433\u043E\u0434\u043D\u0456. \u0447\u0438\u043C \u044F
        \u043C\u043E\u0436\u0443 \u0432\u0430\u043C \u0434\u043E\u043F\u043E\u043C\u043E\u0433\u0442\u0438?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"el\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u03B6\u03B5\u03C3\u03C4\u03AC]
        \u03B3\u03B5\u03B9\u03B1, \u03B5\u03C5\u03C7\u03B1\u03C1\u03B9\u03C3\u03C4\u03CE
        \u03C0\u03BF\u03C5 \u03BA\u03B1\u03BB\u03AD\u03C3\u03B1\u03C4\u03B5 \u03C4\u03B7\u03BD
        Eleven Airlines. \u03BC\u03B5 \u03BB\u03AD\u03BD\u03B5 Liam, \u03BA\u03B1\u03B9
        \u03B5\u03AF\u03BC\u03B1\u03B9 \u03B5\u03B4\u03CE \u03B3\u03B9\u03B1 \u03BD\u03B1
        \u03C3\u03B1\u03C2 \u03B2\u03BF\u03B7\u03B8\u03AE\u03C3\u03C9 \u03C3\u03AE\u03BC\u03B5\u03C1\u03B1.
        \u03C4\u03B9 \u03BC\u03C0\u03BF\u03C1\u03CE \u03BD\u03B1 \u03BA\u03AC\u03BD\u03C9
        \u03B3\u03B9\u03B1 \u03B5\u03C3\u03AC\u03C2;\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"cs\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[warmly]
        ahoj, d\xEDky, \u017Ee jste zavolali Eleven Airlines. jmenuji se Liam a jsem
        tu, abych v\xE1m dnes pomohl. co pro v\xE1s mohu ud\u011Blat?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"da\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[varmt]
        hej, tak fordi du ringer til Eleven Airlines. mit navn er Liam, og \xF8h..
        jeg er her for at hj\xE6lpe dig i dag. hvad kan jeg g\xF8re for dig?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"fi\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[l\xE4mpim\xE4sti]
        hei, kiitos kun soitit Eleven Airlinesille. nimeni on Liam, ja \xF6\xF6..
        olen t\xE4\xE4ll\xE4 auttamassa sinua t\xE4n\xE4\xE4n. mit\xE4 voin tehd\xE4
        hyv\xE4ksesi?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"bg\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u0442\u043E\u043F\u043B\u043E]
        \u0437\u0434\u0440\u0430\u0432\u0435\u0439\u0442\u0435, \u0431\u043B\u0430\u0433\u043E\u0434\u0430\u0440\u044F,
        \u0447\u0435 \u0441\u0435 \u043E\u0431\u0430\u0434\u0438\u0445\u0442\u0435
        \u043D\u0430 Eleven Airlines. \u043A\u0430\u0437\u0432\u0430\u043C \u0441\u0435
        \u041B\u0438\u0430\u043C \u0438 \u0441\u044A\u043C \u0442\u0443\u043A, \u0437\u0430
        \u0434\u0430 \u0432\u0438 \u043F\u043E\u043C\u043E\u0433\u043D\u0430 \u0434\u043D\u0435\u0441.
        \u0441 \u043A\u0430\u043A\u0432\u043E \u043C\u043E\u0433\u0430 \u0434\u0430
        \u0432\u0438 \u0431\u044A\u0434\u0430 \u043F\u043E\u043B\u0435\u0437\u0435\u043D?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"hr\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[bri\u017Eno]
        hej, hvala \u0161to ste nazvali Eleven Airlines. moje ime je Liam, i uh..
        ovdje sam da vam danas pomognem. \u0161to mogu u\u010Diniti za vas?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"sk\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[vrelo]
        ahoj, \u010Fakujeme, \u017Ee ste zavolali do Eleven Airlines. vol\xE1m sa
        Liam a som tu, aby som v\xE1m dnes pomohol. \u010Do pre v\xE1s m\xF4\u017Eem
        urobi\u0165?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"ta\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u0BB5\u0BC6\u0BAA\u0BCD\u0BAA\u0BAE\u0BBE\u0B95]
        \u0BB9\u0BC7, \u0B8E\u0BB2\u0BC6\u0BB5\u0BA9\u0BCD \u0B8F\u0BB0\u0BCD\u0BB2\u0BC8\u0BA9\u0BCD\u0BB8\u0BC1\u0B95\u0BCD\u0B95\u0BC1
        \u0B85\u0BB4\u0BC8\u0BA4\u0BCD\u0BA4\u0BA4\u0BB1\u0BCD\u0B95\u0BC1 \u0BA8\u0BA9\u0BCD\u0BB1\u0BBF.
        \u0B8E\u0BA9\u0BCD \u0BAA\u0BC6\u0BAF\u0BB0\u0BCD \u0BB2\u0BBF\u0BAF\u0BAE\u0BCD,
        \u0BAE\u0BB1\u0BCD\u0BB1\u0BC1\u0BAE\u0BCD \u0B89\u0BB9\u0BCD.. \u0B87\u0BA9\u0BCD\u0BB1\u0BC1
        \u0B89\u0B99\u0BCD\u0B95\u0BB3\u0BC1\u0B95\u0BCD\u0B95\u0BC1 \u0B89\u0BA4\u0BB5
        \u0BA8\u0BBE\u0BA9\u0BCD \u0B87\u0B99\u0BCD\u0B95\u0BC7 \u0B87\u0BB0\u0BC1\u0B95\u0BCD\u0B95\u0BBF\u0BB1\u0BC7\u0BA9\u0BCD.
        \u0BA8\u0BBE\u0BA9\u0BCD \u0B89\u0B99\u0BCD\u0B95\u0BB3\u0BC1\u0B95\u0BCD\u0B95\u0BC1
        \u0B8E\u0BA9\u0BCD\u0BA9 \u0B9A\u0BC6\u0BAF\u0BCD\u0BAF\u0BB2\u0BBE\u0BAE\u0BCD?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"vi\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[warmly]
        ch\xE0o, c\u1EA3m \u01A1n b\u1EA1n \u0111\xE3 g\u1ECDi \u0111\u1EBFn Eleven
        Airlines. t\xEAn t\xF4i l\xE0 Liam, v\xE0 \u1EEB.. t\xF4i \u1EDF \u0111\xE2y
        \u0111\u1EC3 gi\xFAp b\u1EA1n h\xF4m nay. t\xF4i c\xF3 th\u1EC3 l\xE0m g\xEC
        cho b\u1EA1n?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"no\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[varmt]
        hei, takk for at du ringte Eleven Airlines. jeg heter Liam, og eh.. jeg er
        her for \xE5 hjelpe deg i dag. hva kan jeg gj\xF8re for deg?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"hu\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[szeretettel]
        szia, k\xF6sz\xF6n\xF6m, hogy az Eleven Airlines-t h\xEDvta. a nevem Liam,
        \xE9s uh.. az\xE9rt vagyok itt, hogy seg\xEDtsek \xF6nnek ma. miben seg\xEDthetek?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"af\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[warmly]
        hey, dankie dat jy Eleven Airlines gebel het. my naam is Liam, en uh.. ek
        is hier om jou vandag te help. wat kan ek vir jou doen?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"hy\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u057B\u0565\u0580\u0574\u0578\u0580\u0565\u0576]
        \u0562\u0561\u0580\u0587, \u0577\u0576\u0578\u0580\u0570\u0561\u056F\u0561\u056C\u0578\u0582\u0569\u0575\u0578\u0582\u0576
        Eleven Airlines \u0566\u0561\u0576\u0563\u0561\u0570\u0561\u0580\u0565\u056C\u0578\u0582
        \u0570\u0561\u0574\u0561\u0580: \u053B\u0574 \u0561\u0576\u0578\u0582\u0576\u0568
        \u053C\u056B\u0561\u0574 \u0567, \u0587 \u0565\u057D \u0561\u0575\u057D\u057F\u0565\u0572
        \u0565\u0574, \u0578\u0580\u057A\u0565\u057D\u0566\u056B \u0585\u0563\u0576\u0565\u0576\u0584
        \u0571\u0565\u0566 \u0561\u0575\u057D\u0585\u0580: \u053B\u0576\u0579\u0578\u057E
        \u056F\u0561\u0580\u0578\u0572 \u0565\u0574 \u0585\u0563\u0576\u0565\u056C
        \u0571\u0565\u0566?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"as\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u0989\u09B7\u09CD\u09A3\u09AD\u09BE\u09F1\u09C7]
        \u09B9\u09C7, \u0987\u09B2\u09C7\u09AD\u09C7\u09A8 \u098F\u09AF\u09BC\u09BE\u09F0\u09B2\u09BE\u0987\u09A8\u09CD\u09B8\u09B2\u09C8
        \u09AB\u09CB\u09A8 \u0995\u09F0\u09BE\u09F0 \u09AC\u09BE\u09AC\u09C7 \u09A7\u09A8\u09CD\u09AF\u09AC\u09BE\u09A6\u0964
        \u09AE\u09CB\u09F0 \u09A8\u09BE\u09AE \u09B2\u09BF\u09AF\u09BC\u09BE\u09AE,
        \u0986\u09F0\u09C1 \u0986.. \u09AE\u0987 \u0986\u099C\u09BF \u0986\u09AA\u09CB\u09A8\u09BE\u0995
        \u09B8\u09B9\u09BE\u09AF\u09BC \u0995\u09F0\u09BF\u09AC\u09B2\u09C8 \u0987\u09AF\u09BC\u09BE\u09A4
        \u0986\u099B\u09CB\u0981\u0964 \u09AE\u0987 \u0986\u09AA\u09CB\u09A8\u09BE\u09F0
        \u09AC\u09BE\u09AC\u09C7 \u0995\u09BF \u0995\u09F0\u09BF\u09AC \u09AA\u09BE\u09F0\u09CB\u0981?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"az\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[s\u0259mimi]
        salam, Eleven Airlines-\u0259 z\u0259ng etdiyiniz \xFC\xE7\xFCn t\u0259\u015F\u0259kk\xFCr
        edir\u0259m. m\u0259nim ad\u0131m Liam-d\u0131r v\u0259 bu g\xFCn siz\u0259
        k\xF6m\u0259k etm\u0259k \xFC\xE7\xFCn buradayam. sizin \xFC\xE7\xFCn n\u0259
        ed\u0259 bil\u0259r\u0259m?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"be\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u0446\u0451\u043F\u043B\u0430]
        \u043F\u0440\u044B\u0432\u0456\u0442\u0430\u043D\u043D\u0435, \u0434\u0437\u044F\u043A\u0443\u0439,
        \u0448\u0442\u043E \u043F\u0430\u0442\u044D\u043B\u0435\u0444\u0430\u043D\u0430\u0432\u0430\u043B\u0456
        \u045E Eleven Airlines. \u043C\u044F\u043D\u0435 \u0437\u0430\u0432\u0443\u0446\u044C
        \u041B\u0456\u0430\u043C, \u0456, \u044D\u044D\u044D.. \u044F \u0442\u0443\u0442,
        \u043A\u0430\u0431 \u0434\u0430\u043F\u0430\u043C\u0430\u0433\u0447\u044B
        \u0432\u0430\u043C \u0441\u0451\u043D\u043D\u044F. \u0447\u044B\u043C \u044F
        \u043C\u0430\u0433\u0443 \u0432\u0430\u043C \u0434\u0430\u043F\u0430\u043C\u0430\u0433\u0447\u044B?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"bn\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u0989\u09B7\u09CD\u09A3\u09AD\u09BE\u09AC\u09C7]
        \u09B9\u09C7\u0987, \u0987\u09B2\u09C7\u09AD\u09C7\u09A8 \u098F\u09AF\u09BC\u09BE\u09B0\u09B2\u09BE\u0987\u09A8\u09CD\u09B8\u09C7
        \u0995\u09B2 \u0995\u09B0\u09BE\u09B0 \u099C\u09A8\u09CD\u09AF \u09A7\u09A8\u09CD\u09AF\u09AC\u09BE\u09A6\u0964
        \u0986\u09AE\u09BE\u09B0 \u09A8\u09BE\u09AE \u09B2\u09BF\u09AF\u09BC\u09BE\u09AE,
        \u098F\u09AC\u0982 \u0989\u09B9.. \u0986\u09AE\u09BF \u0986\u099C \u0986\u09AA\u09A8\u09BE\u0995\u09C7
        \u09B8\u09BE\u09B9\u09BE\u09AF\u09CD\u09AF \u0995\u09B0\u09A4\u09C7 \u098F\u0996\u09BE\u09A8\u09C7
        \u0986\u099B\u09BF\u0964 \u0986\u09AE\u09BF \u0986\u09AA\u09A8\u09BE\u09B0
        \u099C\u09A8\u09CD\u09AF \u0995\u09C0 \u0995\u09B0\u09A4\u09C7 \u09AA\u09BE\u09B0\u09BF?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"bs\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[warmly]
        hej, hvala \u0161to ste nazvali Eleven Airlines. moje ime je Liam, i uh..
        ovdje sam da vam pomognem danas. \u0161ta mogu u\u010Diniti za vas?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"ca\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[calorosament]
        ei, gr\xE0cies per trucar a Eleven Airlines. em dic Liam, i uh.. s\xF3c aqu\xED
        per ajudar-te avui. qu\xE8 puc fer per tu?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"et\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[soojalt]
        hei, ait\xE4h, et helistasite Eleven Airlines'ile. minu nimi on Liam ja ma
        olen siin, et teid t\xE4na aidata. kuidas ma saan teid aidata?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"gl\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[calidamente]
        ola, grazas por chamar a Eleven Airlines. ch\xE1mome Liam, e uh.. estou aqu\xED
        para axudarche hoxe. que podo facer por ti?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"ka\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u10D7\u10D1\u10D8\u10DA\u10D0\u10D3]
        \u10D2\u10D0\u10DB\u10D0\u10E0\u10EF\u10DD\u10D1\u10D0, \u10DB\u10D0\u10D3\u10DA\u10DD\u10D1\u10D0,
        \u10E0\u10DD\u10DB \u10D3\u10D0\u10E0\u10D4\u10D9\u10D4\u10D7 Eleven Airlines-\u10E8\u10D8.
        \u10E9\u10D4\u10DB\u10D8 \u10E1\u10D0\u10EE\u10D4\u10DA\u10D8\u10D0 \u10DA\u10D8\u10D0\u10DB\u10D8
        \u10D3\u10D0, \u10D4\u10DB... \u10D3\u10E6\u10D4\u10E1 \u10D0\u10E5 \u10D5\u10D0\u10E0,
        \u10E0\u10DD\u10DB \u10D3\u10D0\u10D2\u10D4\u10EE\u10DB\u10D0\u10E0\u10DD\u10D7.
        \u10E0\u10D8\u10D7 \u10E8\u10D4\u10DB\u10D8\u10EB\u10DA\u10D8\u10D0 \u10D3\u10D0\u10D2\u10D4\u10EE\u10DB\u10D0\u10E0\u10DD\u10D7?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"gu\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[\u0A89\u0AB7\u0ACD\u0AAE\u0ABE\u0AAA\u0AC2\u0AB0\u0ACD\u0AB5\u0A95]
        \u0AB9\u0AC7, \u0A87\u0AB2\u0AC7\u0AB5\u0AA8 \u0A8F\u0AB0\u0AB2\u0ABE\u0A87\u0AA8\u0ACD\u0AB8\u0AAE\u0ABE\u0A82
        \u0A95\u0AC9\u0AB2 \u0A95\u0AB0\u0AB5\u0ABE \u0AAC\u0AA6\u0AB2 \u0A86\u0AAD\u0ABE\u0AB0.
        \u0AAE\u0ABE\u0AB0\u0AC1\u0A82 \u0AA8\u0ABE\u0AAE \u0AB2\u0ABF\u0AAF\u0AAE
        \u0A9B\u0AC7, \u0A85\u0AA8\u0AC7 \u0AB9\u0AC1\u0A82 \u0A86\u0A9C\u0AC7 \u0AA4\u0AAE\u0AA8\u0AC7
        \u0AAE\u0AA6\u0AA6 \u0A95\u0AB0\u0AB5\u0ABE \u0AAE\u0ABE\u0A9F\u0AC7 \u0A85\u0AB9\u0AC0\u0A82
        \u0A9B\u0AC1\u0A82. \u0AB9\u0AC1\u0A82 \u0AA4\u0AAE\u0ABE\u0AB0\u0ABE \u0AAE\u0ABE\u0A9F\u0AC7
        \u0AB6\u0AC1\u0A82 \u0A95\u0AB0\u0AC0 \u0AB6\u0A95\u0AC1\u0A82?\",\"language\":null,\"max_conversation_duration_message\":null,\"prompt\":null}},\"first_message_translation\":null,\"soft_timeout_translation\":null},\"ha\":{\"overrides\":{\"turn\":null,\"tts\":null,\"conversation\":null,\"agent\":{\"first_message\":\"[sosai]
        sannu, na gode da kiran Eleven Airlines. sunana Liam, kuma uh.. ina nan don
[...]
