interactions:
- request:
    body: '{"tool_config":{"type":"client","name":"integration-get-tool","description":"Integration
      test tool for get_tool","expects_response":false}}'
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/convai/tools
  response:
    body:
      string: '{"id":"tool_5301kqv6bvkaemwbqs56y4qrasqp","tool_config":{"type":"client","name":"integration-get-tool","description":"Integration
        test tool for get_tool","response_timeout_secs":20,"disable_interruptions":false,"force_pre_tool_speech":false,"pre_tool_speech":"auto","assignments":[],"tool_call_sound":null,"tool_call_sound_behavior":"auto","tool_error_handling_mode":"auto","parameters":null,"expects_response":false,"dynamic_variables":{"dynamic_variable_placeholders":{}},"execution_mode":"immediate"},"access_info":{"is_creator":true,"creator_name":"harishnavnit@gmail.com","creator_email":"harishnavnit@gmail.com","role":"admin","anonymous_access_level_override":null},"usage_stats":{"total_calls":0,"avg_latency_secs":0.0},"response_mocks":null}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - 202ab6ab267f7425b46444d1a4af6eb1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/tools/tool_5301kqv6bvkaemwbqs56y4qrasqp
  response:
    body:
      string: '{"id":"tool_5301kqv6bvkaemwbqs56y4qrasqp","tool_config":{"type":"client","name":"integration-get-tool","description":"Integration
        test tool for get_tool","response_timeout_secs":20,"disable_interruptions":false,"force_pre_tool_speech":false,"pre_tool_speech":"auto","assignments":[],"tool_call_sound":null,"tool_call_sound_behavior":"auto","tool_error_handling_mode":"auto","parameters":null,"expects_response":false,"dynamic_variables":{"dynamic_variable_placeholders":{}},"execution_mode":"immediate"},"access_info":{"is_creator":true,"creator_name":"harishnavnit@gmail.com","creator_email":"harishnavnit@gmail.com","role":"admin","anonymous_access_level_override":null},"usage_stats":{"total_calls":0,"avg_latency_secs":0.0},"response_mocks":null}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - 1acce8a7d2edd645d4b20307f213dfd1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/tools/tool_5301kqv6bvkaemwbqs56y4qrasqp/dependent-agents
  response:
    body:
      string: '{"agents":[],"branches":[],"next_cursor":null,"has_more":false}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - 11159b372eb71c3c84c7fb6a5da142a9
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: DELETE
    uri: https://api.elevenlabs.io/v1/convai/tools/tool_5301kqv6bvkaemwbqs56y4qrasqp
  response:
    body:
      string: ''
    headers:
      x-region:
      - us-central1
      x-trace-id:
      - e7e6adaa4c1933f782b61f4ed63f60d7
    status:
      code: 204
      message: No Content
version: 1
