interactions:
- request:
    body: '{"prompt":"Calm ambient piano with soft strings","music_length_ms":null,"source_composition_plan":null}'
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/music/plan
  response:
    body:
      string: '{"positive_global_styles":["calm","ambient piano","soft strings","instrumental","peaceful","relaxing","serene","meditative","atmospheric"],"negative_global_styles":["percussion","drums","loud","aggressive","upbeat","vocals","harsh"],"sections":[{"section_name":"Intro","positive_local_styles":["solo
        piano","gentle melody","spacious","slow tempo","delicate touch","reverb"],"negative_local_styles":["strings","complex
        harmony","fast arpeggios"],"duration_ms":20000,"lines":[]},{"section_name":"Main
        Theme","positive_local_styles":["soft strings enter","lush string pads","piano
        lead","warm chords","emotional","melodic development"],"negative_local_styles":["staccato","dissonance","percussive"],"duration_ms":30000,"lines":[]},{"section_name":"Bridge","positive_local_styles":["strings
        become more prominent","higher register piano melody","ethereal","reflective
        mood","subtle dynamic swell"],"negative_local_styles":["low register","heavy","minimalist"],"duration_ms":25000,"lines":[]},{"section_name":"Main
        Theme Reprise","positive_local_styles":["piano and strings in harmony","gentle
        interplay","soothing","richer texture","return to core melody"],"negative_local_styles":["solo
        instrument","abrupt changes","tension"],"duration_ms":30000,"lines":[]},{"section_name":"Outro","positive_local_styles":["strings
        slowly fade out","piano plays final chords","sustained notes","gradual decrescendo","peaceful
        conclusion","long reverb tail"],"negative_local_styles":["sudden stop","new
        melodic ideas","crescendo"],"duration_ms":20000,"lines":[]}]}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    status:
      code: 200
      message: OK
version: 1
