interactions:
- request:
    body: '{"voice_name":"integration-invalid-preview","voice_description":"integration
      invalid preview","generated_voice_id":"invalid-generated-voice-id"}'
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/text-to-voice
  response:
    body:
      string: '{"detail":{"type":"invalid_request","code":"bad_request","message":"An
        invalid ID has been received: ''invalid-generated-voice-id''. Make sure to
        provide a correct one.","status":"invalid_uid","request_id":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"}}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    status:
      code: 400
      message: Bad Request
version: 1
