interactions:
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/agents
  response:
    body:
      string: '{"agents":[{"agent_id":"agent_4501khdqt1t5epnajsmvpnzcyxg4","name":"Agents
        v3 Demo","tags":["demo","v3","customer-support"],"created_at_unix_secs":1771061446,"access_info":{"is_creator":false,"creator_name":"Test
        User","creator_email":"test@example.com","role":"admin","anonymous_access_level_override":null},"last_call_time_unix_secs":null,"archived":false,"last_7_day_call_count":0,"has_coaching":false,"trust_context":"unknown"},{"agent_id":"agent_01jyvgf13se90b0472dj2hn96a","name":"F-MoCA","tags":[],"created_at_unix_secs":1751122413,"access_info":{"is_creator":true,"creator_name":"Test
        User","creator_email":"test@example.com","role":"admin","anonymous_access_level_override":null},"last_call_time_unix_secs":1777805629,"archived":false,"last_7_day_call_count":6,"has_coaching":false,"trust_context":"unknown"},{"agent_id":"agent_01jyrftf88ea08nx5gcg9j1whq","name":"T-MoCA","tags":[],"created_at_unix_secs":1751021076,"access_info":{"is_creator":true,"creator_name":"Test
        User","creator_email":"test@example.com","role":"admin","anonymous_access_level_override":null},"last_call_time_unix_secs":1764952471,"archived":false,"last_7_day_call_count":0,"has_coaching":false,"trust_context":"unknown"}],"next_cursor":null,"has_more":false}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    status:
      code: 200
      message: OK
version: 1
