interactions:
- request:
    body: '{"text":"Hello from speech to text integration test.","model_id":"eleven_multilingual_v2","voice_settings":{"stability":0.5,"similarity_boost":0.75,"style":0,"use_speaker_boost":true,"speed":1.0}}'
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/text-to-speech/cgSgspJ2msm6clMCkdW9?output_format=mp3_44100_128
  response:
    body:
      string: "ID3\x04\0\0\0\0\0#TSSE\0\0\0\x0F\0\0\x03Lavf60.16.100\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0Info\0\0\0\x0F\0\0\0e\0\0\0\a\n\f\x0F\x11\x14\x16\x19\e\x1E
        #%(*-/2479<>ACFHKMPRUWZ\\_adfiknpsuxz}\x7F\0\0\0\0Lavf\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0$\x04@\0\0\0\0\0\0;c9\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: "--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\r\nContent-Disposition: form-data; name=\"model_id\"\r\n\r\nscribe_v1\r\n--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\r\nContent-Disposition:
      form-data; name=\"tag_audio_events\"\r\n\r\ntrue\r\n--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\r\nContent-Disposition:
      form-data; name=\"diarize\"\r\n\r\nfalse\r\n--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"upload\"\r\nContent-Type: application/octe[...]
