interactions:
- request:
    body: '{"tool_config":{"type":"client","name":"integration-client-tool","description":"Integration
      client tool","expects_response":false}}'
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/convai/tools
  response:
    body:
      string: '{"id":"tool_2901kqvg9n2mfd1bzvd7b9h8bkmn","tool_config":{"type":"client","name":"integration-client-tool","description":"Integration
        client tool","response_timeout_secs":20,"disable_interruptions":false,"force_pre_tool_speech":false,"pre_tool_speech":"auto","assignments":[],"tool_call_sound":null,"tool_call_sound_behavior":"auto","tool_error_handling_mode":"auto","parameters":null,"expects_response":false,"dynamic_variables":{"dynamic_variable_placeholders":{}},"execution_mode":"immediate"},"access_info":{"is_creator":true,"creator_name":"harishnavnit@gmail.com","creator_email":"harishnavnit@gmail.com","role":"admin","anonymous_access_level_override":null},"usage_stats":{"total_calls":0,"avg_latency_secs":0.0},"response_mocks":null}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - 7b7a1c98e3038743d15a23d7fde93ef8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/tools/tool_2901kqvg9n2mfd1bzvd7b9h8bkmn/dependent-agents
  response:
    body:
      string: '{"agents":[],"branches":[],"next_cursor":null,"has_more":false}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - 3c86433b70f1703c1939ab79e464c9f6
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: DELETE
    uri: https://api.elevenlabs.io/v1/convai/tools/tool_2901kqvg9n2mfd1bzvd7b9h8bkmn
  response:
    body:
      string: ''
    headers:
      x-region:
      - us-central1
      x-trace-id:
      - acb32ca90fe4f97c25529bb857e698fa
    status:
      code: 204
      message: No Content
version: 1
