interactions:
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v2/voices?search=adam&sort=name&sort_direction=asc
  response:
    body:
      string: '{"voices":[{"voice_id":"IRHApOXLvnW57QJPQH2P","name":"Adam - Brooding,
        Dark, Tough American","samples":null,"category":"professional","fine_tuning":{"is_allowed_to_fine_tune":true,"state":{"eleven_turbo_v2_5":"fine_tuned","eleven_flash_v2":"fine_tuned","eleven_multilingual_v2":"fine_tuned","eleven_multilingual_sts_v2":"fine_tuned","eleven_v2_5_flash":"fine_tuned","eleven_v2_flash":"fine_tuned","eleven_turbo_v2":"fine_tuned","eleven_flash_v2_5":"fine_tuned"},"verification_failures":[],"verification_attempts_count":0,"manual_verification_requested":false,"language":"en","progress":{},"message":{"eleven_turbo_v2_5":"","eleven_flash_v2":"","eleven_multilingual_v2":"","eleven_multilingual_sts_v2":"","eleven_v2_5_flash":"","eleven_v2_flash":"","eleven_turbo_v2":"","eleven_flash_v2_5":""},"dataset_duration_seconds":null,"verification_attempts":null,"slice_ids":null,"manual_verification":null,"max_verification_attempts":0,"next_max_verification_attempts_reset_unix_ms":0},"labels":{"use_case":"characters_animation","gender":"male","accent":"american","age":"middle_aged","language":"en","descriptive":"intense"},"description":"Adam
        - Brooding, Dark, Tough American - A tough hero, weathered by years of experience.
        American accent.","preview_url":"https://storage.googleapis.com/eleven-public-prod/database/workspace/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/voices/IRHApOXLvnW57QJPQH2P/7758822f-c98c-4db9-ab0a-186b6a13be1a.mp3","available_for_tiers":[],"settings":null,"sharing":{"status":"copied","history_item_sample_id":null,"date_unix":1777651381,"whitelisted_emails":[],"public_owner_id":"7f002cc08b25f133975f64e7400e04182de633b1fc447e277e57871888ffead6","original_voice_id":"IRHApOXLvnW57QJPQH2P","financial_rewards_enabled":false,"free_users_allowed":true,"live_moderation_enabled":false,"rate":1.0,"fiat_rate":null,"notice_period":730,"disable_at_unix":null,"voice_mixing_allowed":false,"featured":false,"category":"high_quality","reader_app_enabled":true,"image_url":"","ban_reason":null,"liked_by_count":0,"cloned_by_count":0,"name":"Adam
        - American, Dark and Tough","description":"Adam - Brooding, Dark, Tough American
        - A tough hero, weathered by years of experience. American accent.","labels":{"use_case":"characters_animation","gender":"male","descriptive":"intense","age":"middle_aged","language":"en","accent":"american","locale":"en-US"},"review_status":"not_requested","review_message":null,"enabled_in_library":false,"instagram_username":null,"twitter_username":null,"youtube_username":null,"tiktok_username":null,"moderation_check":null,"reader_restricted_on":null},"high_quality_base_model_ids":["eleven_multilingual_v2","eleven_turbo_v2_5","eleven_v2_5_flash","eleven_flash_v2_5","eleven_multilingual_sts_v2","eleven_turbo_v2","eleven_v2_flash","eleven_flash_v2"],"verified_languages":[{"language":"en","model_id":"eleven_multilingual_v2","accent":null,"locale":"en-US","preview_url":"https://storage.googleapis.com/eleven-public-prod/database/user/4GWg0UwQKXbiVFO0Trl4jMDSTb82/voices/IRHApOXLvnW57QJPQH2P/64711083-e9b9-448c-b284-f1e20eb5e44a.mp3"},{"language":"pl","model_id":"eleven_multilingual_v2","accent":"standard","locale":"pl-PL","preview_url":"https://storage.googleapis.com/eleven-public-prod/database/user/4GWg0UwQKXbiVFO0Trl4jMDSTb82/voices/IRHApOXLvnW57QJPQH2P/5218355d-ac82-4059-b824-f7758a560322.mp[...]
