interactions:
- request:
    body: '{"tool_config":{"type":"client","name":"integration-get-tool-client","description":"Integration
      test tool for get_tool client","expects_response":false}}'
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
      content-type:
      - application/json
    method: POST
    uri: https://api.elevenlabs.io/v1/convai/tools
  response:
    body:
      string: '{"id":"tool_0201kqvafj8hfg18g211ffqpg8rg","tool_config":{"type":"client","name":"integration-get-tool-client","description":"Integration
        test tool for get_tool client","response_timeout_secs":20,"disable_interruptions":false,"force_pre_tool_speech":false,"pre_tool_speech":"auto","assignments":[],"tool_call_sound":null,"tool_call_sound_behavior":"auto","tool_error_handling_mode":"auto","parameters":null,"expects_response":false,"dynamic_variables":{"dynamic_variable_placeholders":{}},"execution_mode":"immediate"},"access_info":{"is_creator":true,"creator_name":"harishnavnit@gmail.com","creator_email":"harishnavnit@gmail.com","role":"admin","anonymous_access_level_override":null},"usage_stats":{"total_calls":0,"avg_latency_secs":0.0},"response_mocks":null}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - 6e765e2a09a81446bbb9c6607db4a149
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/tools/tool_0201kqvafj8hfg18g211ffqpg8rg
  response:
    body:
      string: '{"id":"tool_0201kqvafj8hfg18g211ffqpg8rg","tool_config":{"type":"client","name":"integration-get-tool-client","description":"Integration
        test tool for get_tool client","response_timeout_secs":20,"disable_interruptions":false,"force_pre_tool_speech":false,"pre_tool_speech":"auto","assignments":[],"tool_call_sound":null,"tool_call_sound_behavior":"auto","tool_error_handling_mode":"auto","parameters":null,"expects_response":false,"dynamic_variables":{"dynamic_variable_placeholders":{}},"execution_mode":"immediate"},"access_info":{"is_creator":true,"creator_name":"harishnavnit@gmail.com","creator_email":"harishnavnit@gmail.com","role":"admin","anonymous_access_level_override":null},"usage_stats":{"total_calls":0,"avg_latency_secs":0.0},"response_mocks":null}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - 7b1dd0f3c8406859e2624bbfb7344d2b
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: GET
    uri: https://api.elevenlabs.io/v1/convai/tools/tool_0201kqvafj8hfg18g211ffqpg8rg/dependent-agents
  response:
    body:
      string: '{"agents":[],"branches":[],"next_cursor":null,"has_more":false}'
    headers:
      content-type:
      - application/json
      x-region:
      - us-central1
      x-trace-id:
      - bb1ec7cbcee8b6a352b20e77e68f3300
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      X-Fern-SDK-Name:
      - elevenlabs
      X-Fern-SDK-Version:
      - 2.45.0
    method: DELETE
    uri: https://api.elevenlabs.io/v1/convai/tools/tool_0201kqvafj8hfg18g211ffqpg8rg
  response:
    body:
      string: ''
    headers:
      x-region:
      - us-central1
      x-trace-id:
      - 559c268668842bdcd1fa03204d18f8f4
    status:
      code: 204
      message: No Content
version: 1
